@import "color";

.contact{
    height: 100vh;
    width: 100%;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    >form{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        height: 80%;
        width: 40%;
        justify-content: center;
        >h2{
            font-size: 2rem;
            margin: 2rem 4rem;
            text-transform: uppercase;
        }
        >input,>textarea,>button{
            padding: 1rem ;
            outline: none;
            width: 60%;
            margin: 0.5rem;
            outline: none;
            border: 1px solid rgb(202,202,202);
            border-radius: 5px;
        }
        >button{
            background-color: $red;
            color: white;
            font-size: 1rem;
            &:hover{
                background-color: $reddark;
            }
        }
    }
    .formBorder{
        position: relative;
        width: 200px;
        height: 80%;
        background-color: white;
        border-radius: 0 200px 200px 0;
        >div{
            width: 200px;
            height: 200px;
            position: absolute;
            top: 50%;
            transform: translate(50%,-50%);
            filter:drop-shadow(0 0 10px rgb(0,0,0,0.5));
            >img{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .contact{
        height: 70vh;
        >form{
            width: 100%;
            height: 100%;
            
        }
        .formBorder{
            display: none   ;
        }
    }
}